body {
    padding-left: 20%;
    padding-right: 20%;
    background-color: white;
  }
  
  h1 {
    font-size: 2em;
    /* em makes font 3 times bigger --- makes it easier to keep sizes relative to each other */
    color: #333333;
    font-family: Helvetica;
    margin-bottom: -10px;
    /* margin and padding is different --- margin adds space outside the element whereas padding does it from within   */
  }
  
  h2 {
    font-size: 20px;
    color: rgb(91, 91, 91);
    font-family: Helvetica;
    margin-top: 20px;
  }
  
  #byline {
    font-size: 16px;
    font-family: Helvetica;
  }
  
  p {
    font-size: 16px;
    line-height: 1.3em;
    padding-bottom: 5px;
    font-family: Helvetica;
  }

  /* methodology block */
.methodology-block {
  background-color: black;  
  font-size: 16px;    
  color: white;                
  padding: 20px;                
  bottom: 0;                    
  width: 100%;                   
  text-align: left;          
  font-family: Helvetica;
}

.methodology-block h3 {
  margin-top: 0; /* Remove top margin from the heading (chatgpt) */
}

a {
  color:aquamarine
}

  /* responsive design */
  #content {
    width: 50%;
    margin: auto;
  }
  
  @media (orientation: portrait) {
    #content {
      width: 100%;
    }
  }
